:root{
	--primary-text-color:rgba(117, 117, 117, 1);
	--title-text-color: rgba(33, 33, 33, 1);
	--accent-color: rgba(33, 150, 243, 1);
	--primary-bg-color:rgba(255, 255, 255, 1);
	--exyra-bg-color:rgba(47, 48, 58, 1);
	--cards-color:rgba(238, 238, 238, 1);
}


ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}

h1,
h2,
h3,
p{
	margin-top: 0;
}

body{
	background-color:var(--primary-bg-color);
	color: var(--primary-text-color);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
}
.container{
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
section{
	padding-top: 94px;
	padding-bottom: 94px;
}
section.activity{
	padding-top: 0;
}

/* title */
.title{
	margin-top: 0;
	margin-bottom: 50px;
	color:var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.header-box{
	display: flex;
	align-items: center;
}
.header-nav{
	display: flex;
	align-items: center;
}
.logo{
	color: var(--title-text-color);
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.logo span{
	color: var(--accent-color);
}
.site{
	display: flex;
	margin-left: 73px;
}
.site-item:not(:last-child){
	margin-right: 50px;
}
.site-link{
	display: block;
	padding: 32px 0;
}
.contacts{
	display: flex;
	margin-left: auto;
}
.site-link,
.contacts-link{
	color: var(--title-text-color);
	line-height: 1.14;
	letter-spacing: 0.02em;
	font-weight: 500;
}
.contacts-link:hover,
.site-link:hover,
.site-link:focus,
.contacts-link:focus{
	color: var(--accent-color);
}
.current{
	color: var(--accent-color);
}
.contacts-item + .contacts-item{
	margin-left: 50px;
}
/* introduction */
.introduction{
	background-color: var(--exyra-bg-color);
	letter-spacing: 0.06em;
	text-align: center;
}
.introduction-title{
	width: 670px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	color: var(--primary-bg-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-transform: uppercase;
}
.button{
	border-radius: 4px;
	border: none;
	display: inline-block;
	padding: 10px 32px;
	min-width: 200px;

	color: var(--primary-bg-color);
	background-color: var(--accent-color);
	font-family: inherit;
	letter-spacing: 0.06em;
	cursor: pointer;
	text-align: center;
}
.button:hover,
.button:focus{
	background-color: rgba(24, 140, 232, 1);
}

/* company */
.company-info{
	display: flex;
}
.company-subtitle{
	margin-bottom: 10px;
	color:var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
.company-text{
	line-height: 1.71;
}
.company-item{
	max-width: 270px;
}
.company-item:not(:nth-last-child(-n + 1)){
	margin-right: 30px;
}
/* activity*/
.activity-items{
	display: flex;
}
.activity-item:not(:nth-last-child(-n + 1)){
	margin-right: 30px;
}
/* Our team */
.team{
	font-size: 16px;
	line-height: 1.16;
	background-color: rgba(245, 244, 250, 1);
}
.team-img,
.team-text{
	margin-bottom: 30px;
}
.team-subtitle{
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 10px;
}
.team-items{
	display: flex;
	text-align: center;
}
.team-item:not(:nth-last-child(-n + 1)){
	margin-right: 30px;
}
.team-item{
	background-color:#ffffff;
}
/* footer */
footer{
	background-color: var(--exyra-bg-color);
}
.footer-logo{
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 60px;
	color: var(--primary-bg-color);
}
.address-link{
	color: rgba(255, 255, 255, 0.6);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
.address-links{
	padding-bottom: 60px;
}
.link-white{
	color: var(--primary-bg-color);
}
.address-link:focus,
.address-link:hover{
	color: var(--accent-color);
}

/* portgolio */
.portfolio-nav{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.btn-nav{
	display: inline-block;
	border-radius: 4px;
	padding: 6px 22px;
	border: none;
	min-width: 73px;
	color: var(--title-text-color);
	background-color:rgba(245, 244, 250, 1);
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	cursor: pointer;
	text-align: center;
}
.portfolio-btn{
	margin-right: 8px;
}
.portfolio-btn:nth-last-child(-n + 1){
	margin-right: 0;
}

.btn-nav:hover,
.btn-nav:focus{
	background-color: var(--accent-color);
	color: var(--primary-bg-color);
}
.portfolio-items{
	display: flex;
	flex-wrap: wrap;

}
.portfolio-item{
	width: calc((100% - 60px) / 3);
}
.portfolio-item:not(:nth-child(3n)){
	margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)){
	margin-bottom: 30px;
}
.portfolio-subtitle{
	margin-top: 10px;
	margin-bottom: 4px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio-text{
	color: var(--primary-text-color);
	font-size: 16px;
	line-height: 1.88;
}